{% set phc = page.header.content %}


<section class="section">
  <div class="container container--no-grid text--center">
    <div class="nice-type margin-top-lg margin-bottom-sm">
      <h2 class="text--center">Använd Yepstr där det passar dig</h2>
      <p class="p-lg">{{ page.content }}</p>
      <nav class="app-links-container margin-v-sm">
        <a class="icon-link icon-link--ios margin-v-xs margin-h-sm" href="{{phc.ios.link}}">{{ phc.ios.text }}</a>
        <a class="icon-link icon-link--android margin-v-xs margin-h-sm" href="{{phc.android.link}}">{{ phc.android.text }}</a>
        <a class="icon-link icon-link--web margin-v-xs margin-h-sm" href="{{phc.web.link}}">{{ phc.web.text }}</a>
      </nav>
    </div>
  </div>
  <div class="container container--md container--no-grid">
    {{ page.find('/images').media['download-app-large.png'].html('', 'Ladda ner Yepstr appen') }}
  </div>
</section>
