{% set phc = page.header.content %}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col--4 col--sm-12 col--sm-offset-0">
        <div class="promo-small">
          <div class="promo-small--image">{{ page.find('/images').media[phc.promo_one.image].html('', phc.promo_one.image_alt) }}</div>
          <h2 class="promo-small--headline">{{ phc.promo_one.headline }}</h2>
          <p class="promo-small--text">{{ phc.promo_one.text }}</p>
        </div>
      </div>
      <div class="col col--4 col--sm-12">
        <div class="promo-small">
          <div class="promo-small--image">{{ page.find('/images').media[phc.promo_two.image].html('', phc.promo_two.image_alt) }}</div>
          <h2 class="promo-small--headline">{{ phc.promo_two.headline }}</h2>
          <p class="promo-small--text">{{ phc.promo_two.text }}</p>
        </div>
      </div>
      <div class="col col--4 col--sm-12">
        <div class="promo-small">
          <div class="promo-small--image">{{ page.find('/images').media[phc.promo_three.image].html('', phc.promo_three.image_alt) }}</div>
          <h2 class="promo-small--headline">{{ phc.promo_three.headline }}</h2>
          <p class="promo-small--text">{{ phc.promo_three.text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
