{% set phc = page.header.content %}

<section class="section section--two-col-promo margin-v-lg">
  <div class="container container--xl container--no-grid">
    <div class="new-promo">
      <div class="text">
          <h2 class="promo-col--headline">{{ phc.col_left.headline }}</h2>
          <div class="promo-col--text nice-type">
            {{ phc.col_left.text|markdown }}
          </div>
      </div>
      <div class="image">
          {{ page.find('/images').media['laxhjalp.jpg'] }}
      </div>
    </div>
    <div class="new-promo">
      <div class="text">
        <h2 class="promo-col--headline">{{ phc.col_right.headline }}</h2>
        <div class="promo-col--text nice-type">
          {{ phc.col_right.text|markdown }}
        </div>
      </div>
      <div class="image">
          {{ page.find('/images').media['hundpassning.jpg'] }}
      </div>
    </div>
  </div>
</section>
