{% set faq_index_page = page.parent( ) %}

<div class="faq-nav">
  <nav role="navigation" class="hidden-sm">
    <ul class="reset-list faq-nav--list">
      {% for link in faq_index_page.header.content.faq_links %}
        <li class="js-highlight faq-nav--item" data-key="{{ base_url }}{{link.href}}">
          <a href="{{ base_url }}{{ link.href }}">
            {{ link.headline }}
          </a>
        </li>
      {% endfor %}

    </ul>
  </nav>
</div>
