{% set home_page = page.find( '/home' ) %}
{% set phcm = home_page.header.content.media_logos %}

<section class="section--in-the-media background background--map-pattern background--pos-top margin-v-md">
    <ul class="logo-list reset-list margin-v-sm">
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://mitti.se/nyheter/ny-app-for-ungas-extrajobb/">
          {{ page.find('/images').media[phcm.mitti_logo_path].html('', 'Mitt i logo') }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://www.acast.com/thestockholmer/theentrepreneurbringingbacktheneighbourhoodkid">
          {{ page.find('/images').media[phcm.thestockholmer_logo_path].html('', 'The Stockholmer logo') }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.breakit.se/artikel/3804/stena-chefen-dan-sten-olsson-gar-in-i-bemmaningsappen-yepstr">
          {{ page.find('/images').media[phcm.breakit_logo_path].html('', ' Breakit logo') }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.ehandel.se/Fran-grasklippning-i-tonaren-till-app-for-ungdomsjobb,8074.html">
          {{ page.find('/images').media[phcm.ehandel_logo_path].html('', ' Ehandel logo') }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://digital.di.se/artikel/miljardar-mentor-gar-in-i-smajobbsapp">
          {{ page.find('/images').media[phcm.digital_logo_path].html('', ' di digital logo') }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://www.entreprenor.se/nyklackt/vill-skapa-globalt-natverk-for-drivna-unga_658801.html">
          {{ page.find('/images').media[phcm.entreprenor_logo_path].html('', ' Entreprenor logo') }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.dagensanalys.se/2016/06/yepstr-satsar-pa-att-bli-virala/">
          {{ page.find('/images').media[phcm.dagensanalys_logo_path].html('', ' Dagensanalys logo') }}
        </a>
      </li>
    </ul>
</section>
