<section class="section section--in-the-media background background--map-pattern background--pos-top margin-v-md">
  <div class="container container--no-grid container--xl ">
    <ul class="logo-list reset-list margin-v-sm">
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://mitti.se">
          {{ page.find('/images').media[page.header.content.media_logos.mitti_logo_path] }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://www.acast.com/thestockholmer/theentrepreneurbringingbacktheneighbourhoodkid">
          {{ page.find('/images').media[page.header.content.media_logos.thestockholmer_logo_path] }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://www.entreprenor.se/nyklackt/vill-skapa-globalt-natverk-for-drivna-unga_658801.html">
          {{ page.find('/images').media[page.header.content.media_logos.entreprenor_logo_path] }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.ehandel.se/Fran-grasklippning-i-tonaren-till-app-for-ungdomsjobb,8074.html">
          {{ page.find('/images').media[page.header.content.media_logos.ehandel_logo_path] }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://digital.di.se/artikel/miljardar-mentor-gar-in-i-smajobbsapp">
          {{ page.find('/images').media[page.header.content.media_logos.digital_logo_path] }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.breakit.se/artikel/3804/stena-chefen-dan-sten-olsson-gar-in-i-bemmaningsappen-yepstr">
          {{ page.find('/images').media[page.header.content.media_logos.breakit_logo_path] }}
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.dagensanalys.se/2016/06/yepstr-satsar-pa-att-bli-virala/">
          {{ page.find('/images').media[page.header.content.media_logos.dagensanalys_logo_path] }}
        </a>
      </li>
    </ul>
  </div>
</section>
