{% set phc = page.header.content %}
{% if phc.intro.image %}
  <div class="section--intro-header section--intro-header--raster background background--darkblue background--pos-center" style="background-image: url({{ base_url }}/user/pages/images/{{ phc.intro.image }}) ;">
    <div class="text-wrapper text-wrapper--lg text-wrapper--lg-padding text--white">
    {% else %}
      <div class="section--intro-header section--intro-header--raster background background--darkblue">
        <div class="text-wrapper text-wrapper--lg text--white">
        {% endif %}
        <h1 class="intro-header--headline">{{ phc.intro.headline }}</h1>
        <h2 class="intro-header--sub-headline">{{ phc.intro.sub_headline }}</h2>
        {% if phc.intro.button_main_href %}
          <div class="margin-v-sm intro-header--button-case">
            <a href="{{ phc.intro.button_main_href }}" class="btn btn--orange btn--inline">{{ phc.intro.button_main_text }}</a>
            {% if phc.intro.button_secondary_href %}
              &nbsp;
              <a href="{{ phc.intro.button_secondary_href }}" class="btn btn--orange btn--inline">{{ phc.intro.button_secondary_text }}</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
