{% set tc = config.themes['yepstr-landing-page'] %}
{% set testimonial = null %}
{% for t in tc.testimonials if t.identifier == testimonialIdentifier %}
{% set testimonial = t %}
{% endfor %}

<div class="testimonial testimonial--{{ testimonial.type }}">
  <div class="testimonial--bubble padding-sm center-content">
    <div>
      {{ testimonial.quote }}
    </div>
  </div>
  {% if testimonial.image %}
  <div class="testimonial--image">
    {{ page.find('/images').media[testimonial.image].html('', testimonial.image_alt, 'img--circle') }}
  </div>
  {% endif %}
  {% if testimonial.name %}
  <p class="testimonial--name h2">{{ testimonial.name }}</p>
  {% endif %}
  {% if testimonial.category %}
  <h2 class="testimonial--category p">{{ testimonial.category }}</h2>
  {% endif %}
  {% if testimonial.video_href %}
  <div class="margin-v-xs testimonial--video-link">
    <a class="icon-link icon-link--play js-popup-video-button" href="{{ testimonial.video_href }}">Spela video</a>
  </div>
  {% endif %}
</div>
