{{ include('partials/head.html.twig') }}
<body id="top" class="{{ page.header.body_classes }}">
  {{ include('partials/header.html.twig') }}
  {% block body %}
    <section id="body" class="{{ class }}">
      {% block content %}{% endblock %}
    </section>
  {% endblock %}
  {{ include('partials/footer.html.twig') }}
</body>
</html>
