{% extends 'shared/base.html.twig' %}

{% set phc = page.header.content %}
{% set guide_index_page = page.parent( ) %}

{% block content %}
  <!--  -->
  {{ include('partials/intro-header.html.twig') }}
  <!--  -->
  {% if phc.page_headline or page.content %}
    <section class="section margin-v-lg">
      {% if phc.page_headline %}
        <div class="container container--no-grid container--lg margin-v-sm">
          <div class="visible-sm nice-type text--center">
            <a href="{{ guide_index_page.url }}">{{ guide_index_page.header.content.index_back }}</a>
          </div>
          <h2 class="section-headline text--center">{{ phc.page_headline }}</h2>
        </div>
      {% endif %}
      {% if page.content %}
        <div class="container container--no-grid container--sm margin-v-sm">
          <div class="nice-type">
            {{ page.content }}
          </div>
        </div>
      {% endif %}
    </section>
  {% endif %}

{% endblock %}
