{% set negativeHeader = true %}
{% extends 'shared/base.html.twig' %}
{% set phc = page.header.content %}
{% block content %}

  <div class="section--startpage-header">
    <div class="container container--md container--no-grid">
      <div class="text-wrapper">
        <h1 class="startpage-header--headline">{{ phc.intro.headline }}</h1>
        <div class="startpage-header--sub-headline cd-headline js-type-headline letters type">
          <div class="cd-row-1">
            <span>{{ phc.intro.sub_headline_start }}</span>
            <span class="cd-words-wrapper">
              <b data-background=".map-background--1" data-animationdelay="{{ phc.intro.animation_duration_long }}" class="is-visible">{{ phc.intro.sub_headline_middle_area_1 }}</b>
              <b data-background=".map-background--2" data-animationdelay="{{ phc.intro.animation_duration }}">{{ phc.intro.sub_headline_middle_area_2 }}</b>
              <b data-background=".map-background--3" data-animationdelay="{{ phc.intro.animation_duration }}">{{ phc.intro.sub_headline_middle_area_3 }}</b>
              <b data-background=".map-background--4" data-animationdelay="{{ phc.intro.animation_duration }}">{{ phc.intro.sub_headline_middle_area_4 }}</b>
            </span>
          </div>
          <div>
            <span>{{ phc.intro.sub_headline_end }}</span>
          </div>
        </div>

        <div class="margin-v-sm">
          <nav class="app-links">
            <a href="https://play.google.com/store/apps/details?id=com.yepstr.android" class="download-app-btn download-app-btn--google-play ga-outbound-link">Get it on Google Play</a>
            <a href="https://itunes.apple.com/se/app/yepstr/id1069311381?mt=8" class="download-app-btn download-app-btn--app-store ga-outbound-link">Availible on the App Store</a>
          </nav>
        </div>

      </div>
      <div class="phones-animation">
        <div class="phones"></div>
        <div class="map-position">
          <div class="js-map-backgrounds map-backgrounds">
            <div class="map-background--1 map-background is-visible"></div>
            <div class="map-background--2 map-background"></div>
            <div class="map-background--3 map-background"></div>
            <div class="map-background--4 map-background"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section section--task-nav margin-v-md">
  <div class="container container--no-grid container--md">
    <h3 class="section-headline text--center">{{ phc.task_nav_headline }}</h3>
    <nav role="navigation">
      <ul class="task-list reset-list">
        {% for link in phc.task_links %}
          <li class="task-list__item">
            <a data-key="{{link.href}}" class="js-highlight task-list__link task-list__link--{{ link.icon }}" href="{{ base_url }}{{ link.href }}">
              {{ link.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
{% for module in page.collection( ) %}
  {{ module.content }}
{% endfor %}
<!--  -->
{{ include('partials/in-the-media.html.twig') }}
<!--  -->
{% endblock %}
