{% extends 'shared/base.html.twig' %}
{% set phc = page.header.content %}
{% block content %}
  <!--  -->
  {{ include('partials/intro-header.html.twig') }}
  <!--  -->
  {{ include('partials/task_navigation.html.twig') }}
  <!--  -->
  <section class="section margin-v-md">
    <div class="container container--no-grid container--lg margin-v-sm">
      <h2 class="section-headline text--center">{{ phc.page_headline }}</h2>
    </div>
    <div class="container container--no-grid container--sm margin-v-sm">
      <div class="nice-type">
        {{ page.content }}
      </div>
    </div>
  </section>
  {% for module in page.collection( ) %}
    {{ module.content }}
  {% endfor %}
{% endblock %}
