{% extends 'shared/base.html.twig' %}
{% set phc = page.header.content %}
{% set tmc = config.themes['yepstr-landing-page'].local_pages %}
{% set city = "Täby" %}
{% set numberOfTasks = "150" %}
{% set numberOfYeps = "300" %}

{#
Find the city and category object
We would rather that tmc.cities and tmc.categories
was a hash maps so that we could get the correct
object directly but this is as good as we can get now
#}
{% set cityObj = null %}
{% for c in tmc.cities if c.identifier == phc.local.city %}
{% set cityObj = c %}
{% endfor %}
{% set categoryObj = null %}
{% for c in tmc.categories if c.identifier == phc.local.category %}
{% set categoryObj = c %}
{% endfor %}

{#
Create the content strings
#}
{% set headerHeadline =
  categoryObj.headerHeadline
    |replace({
      '{{city}}': cityObj.name,
      '{{cityTasks}}': cityObj.numTasks
    })
%}
{% set headerSubHeadline =
categoryObj.headerSubHeadline
  |replace({
    '{{city}}': cityObj.name,
    '{{cityTasks}}': cityObj.numTasks
  })
%}
{% set headerCTALabel =
categoryObj.headerCTALabel
  |replace({
    '{{city}}': cityObj.name,
    '{{cityTasks}}': cityObj.numTasks
  })
%}
{% set pageHeadline =
categoryObj.pageHeadline
  |replace({
    '{{city}}': cityObj.name,
    '{{cityTasks}}': cityObj.numTasks
  })
%}
{% set pageContent =
categoryObj.commonText
  |replace({
    '{{city}}': cityObj.name,
    '{{cityTasks}}': cityObj.numTasks
  })
%}
{% set bottomContent =
cityObj.commonText
  |replace({
    '{{category}}': category.name,
  })
%}


{% block content %}
  <!--  -->
  {% if phc.intro.image %}
    <div class="section--intro-header section--intro-header--raster background background--darkblue background--pos-center" style="background-image: url({{ base_url }}/user/pages/images/{{ phc.intro.image }}) ;">
      <div class="text-wrapper text-wrapper--lg text-wrapper--lg-padding text--white">
    {% else %}
    <div class="section--intro-header section--intro-header--raster background background--darkblue">
      <div class="text-wrapper text-wrapper--lg text--white">
    {% endif %}
      <h1 class="intro-header--headline">{{ headerHeadline }}</h1>
      <h2 class="intro-header--sub-headline">{{ headerSubHeadline }}</h2>
      <div class="margin-v-sm intro-header--button-case">
        <a href="#" class="btn btn--orange btn--inline">{{ headerCTALabel }}</a>
      </div>
    </div>
  </div>
  <!--  -->
  <section class="section margin-v-md">
    <div class="container container--no-grid container--lg margin-v-sm">
      <h2 class="section-headline text--center">{{ pageHeadline }}</h2>
    </div>
    <div class="container container--no-grid container--sm margin-v-sm">
      <div class="nice-type">
        {{
        pageContent|markdown
        }}
      </div>
    </div>
  </section>
  <!--  -->
  <section id="download-app" class="section section--download-app nice-type">
    <div class="inner">
      <div class="row">
        <div class="col col--6 col--md-12">
          <div class="text-wrap">
            Jada jada jada
            <a href="https://play.google.com/store/apps/details?id=com.yepstr.android" class="download-app-btn download-app-btn--google-play ga-outbound-link">Get it on Google Play</a>
            <a href="https://itunes.apple.com/se/app/yepstr/id1069311381?mt=8" class="download-app-btn download-app-btn--app-store ga-outbound-link">Availible on the App Store</a>
            <p class="divider-or">eller</p>
            <a href="https://app.yepstr.com/userRoleCrossroads" target="_blank" class="download-app-btn download-app-btn--web-browser ga-outbound-link">Direkt i webbläsaren</a>
          </div>
        </div>
        <div class="col col--6 col--md-12">
          <div class="img-wrap">
            <img src="images/app-splash-big.png">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  -->
  <section class="section margin-v-lg">
    <div class="container">
      <div class="row">
        <div class="col col--5 col--md-12">
          <a class="promo-video-btn js-popup-video-button" href="{{ phc.video_button_href }}">
            <img alt="" class="img--rounded" src="http://www.yepstr.com/user/pages/images/video-btn.jpg">
          </a>
        </div>
        <div class="col col--7 col--md-12">
          <div class="row">
            <div class="col col--4 col--sm-12">
              <div class="promo-small">
                <div class="promo-small--image">
                  <img src="http://www.yepstr.com/user/pages/images/promo-chatgirl.svg" data-pin-nopin="true">
                </div>
                <h2 class="promo-small--headline">Barnvakt i {{ city }}</h2>
                <p class="promo-small--text">Yepstr matchar dig med närmaste intresserade ungdom först för att främja i grannskapet och skapa optimala förhållanden för ert samarbete</p>
              </div>
            </div>
            <div class="col col--4 col--sm-12">
              <div class="promo-small">
                <div class="promo-small--image">
                  <img src="http://www.yepstr.com/user/pages/images/promo-chatgirl.svg" data-pin-nopin="true">
                </div>
                <h2 class="promo-small--headline">Boka intervju</h2>
                <p class="promo-small--text">Du får svar och ansökningar direkt i appen. Börja konversera och koordinera tillsammans med de sökande som du finner intressant, för att sedan boka en intervju.</p>
              </div>
            </div>
            <div class="col col--4 col--sm-12">
              <div class="promo-small">
                <div class="promo-small--image">
                  <img src="http://www.yepstr.com/user/pages/images/promo-piggybank.svg" data-pin-nopin="true">
                </div>
                <h2 class="promo-small--headline">Schemalägg & betala</h2>
                <p class="promo-small--text">Relationen till er barnvakt sköter ni enkelt direkt i appen. Appen stöder en chatt, schemaläggning och betalning direkt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->

  <section class="section margin-v-lg">
    <div class="container no-grid">
      <div class="testimonials">
        <div class="testimonial testimonial--customer">
          <div class="testimonial--bubble padding-sm center-content">
            <div>
              "Vilken otroligt fin idé! Barnen frågade efter Sofia så fort hon hade lämnat. Känns skönt att veta att jag har några ungdomar att fråga när jag behöver hjälp. Väldigt smidigt!"
            </div>
          </div>
          <div class="testimonial--image">
            <img alt="" class="img--circle" src="http://www.yepstr.com/user/pages/images/testimonial-c-1-anna-soderholm.jpg">
          </div>
          <h2 class="testimonial--name">Anna Söderholm</h2>
        </div>
        <div class="testimonial testimonial--customer">
          <div class="testimonial--bubble padding-sm center-content">
            <div>
              "Vi tycker att det funkar jättebra med Vendela! Barnen har klickat helt med henne så det känns tryggt och bra. Vi kommer fortsätta att boka henne via appen!"
            </div>
          </div>
          <div class="testimonial--image">
            <img alt="" class="img--circle" src="http://www.yepstr.com/user/pages/images/testimonial-c-4-jenny-margareta-uggla.jpg">
          </div>
          <h2 class="testimonial--name">Jenny-Margareta Uggla</h2>
        </div>
        <div class="testimonial testimonial--customer">
          <div class="testimonial--bubble padding-sm center-content">
            <div>
              "Jag tycker det fungerar riktigt bra. Jag har behövt hjälp med barnvakt och hundpassning där Yeppen Agnes har gjort ett superbra jobb! Betalningen är enkel och smidig vilket underlättar."
            </div>
          </div>
          <div class="testimonial--image">
            <img alt="" class="img--circle" src="http://www.yepstr.com/user/pages/images/testimonial-c-5-emeli-haage.jpg">
          </div>
          <h2 class="testimonial--name">Emeli Haage</h2>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section class="section margin-v-lg">
    <div class="container container--no-grid container--lg margin-v-sm">
      <h2 class="section-headline text--center">{{ phc.page_headline }}</h2>
    </div>
    <div class="container container--no-grid container--sm margin-v-sm">
      <div class="nice-type">
        {{ page.content }}
      </div>
    </div>
  </section>
  <!--  -->

  <div class="container container--no-grid container--sm margin-v-sm">
    <div class="nice-type">
      {{ bottomContent|markdown }}
    </div>
  </div>

  {% for module in page.collection( ) %}
    {{ module.content }}
  {% endfor %}
{% endblock %}
