{{ include('shared/head.html.twig') }}
<body id="top" class="{{ page.header.body_classes }}" data-page="{{ page.url  }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TV3573" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ include('shared/header.html.twig') }}
  {% block body %}
    <main id="body" class="main--content {{ class }}">
      {% block content %}{% endblock %}
    </main>
  {% endblock %}
  {{ include('shared/footer.html.twig') }}
</body>
</html>
