{% set phc = page.header.content %}
{% set home_page = page.find( '/home' ) %}
{% set collaborators_logos = home_page.header.content.collaborators_logos %}

<footer class="main-footer">
  <section class="section main-footer--collaborators padding-v-sm">
    <div class="container container--no-grid container--lg">
      <h3 class="margin-v-sm h5 text--center">Vi samarbetar med:</h3>
      <ul class="logo-list reset-list margin-v-sm">
        {% for logo in collaborators_logos %}
        <li class="logo-list__item">
          <a class="ga-outbound-link" target="_blank" href="{{ logo.href }}">
            {{ page.find('/images').media[logo.path].html('', logo.alt_text) }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% if not phc.hide_footer_cta %}
    <div class="main-footer--top background background--green">
      <div class="footer-cta footer-cta--small">
        <div class="mock-cta center-v-content">
          <div class="center-h-content">
            <h3 class="text--white">Kom igång direkt!</h3>
            <div class="badgeRow badge-2 padding-v-sm center-v-content visible-md" style="padding-top: 0; width: 150px;">
              <a class='badge-app-store lt-badge'href='http://m.onelink.me/28c45e17'>
                <img alt='Get it on App Store' src='https://d22hhoe037sl7u.cloudfront.net/img/app-store-badges/Download_on_the_App_Store_Badge_US-UK_135x40.svg' style='margin-bottom: 10px;'/>
              </a>
              <a class='badge-google-play lt-badge' style="margin-left: -10px;" href='http://m.onelink.me/28c45e17'>
                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style='width: 150px;  margin-top: -10px;'/>
              </a>
            </div>
          </div>
        </div>
        <div class="mock-image"></div>
      </div>

      <div class="footer-cta footer-cta--large padding-v-lg">
        <div class="mock-image"></div>
        <div class="badgeContainer badge-2 center-content" style="z-index: 100;">
          <h3 class="text--center text--white">Kom igång direkt!</h3>
          <div class="linkTextingWidgetWrapper hidden-md" style="">
            <div class="linkTextingWidget center-content" style="">
              <div class="promptContent" style=""></div>
              <div class="linkTextingInner">
                <input type="hidden" class="linkID" value="76940c6f-3906-4043-bb55-1e2ab6282084">
                <div class="linkTextingInputWrapper">
                  <input class="linkTextingInput linkTextingInputFlagAdjust" type="tel" id="numberToText_linkTexting">
                </div>
                <button class="linkTextingButton" type="button" id="sendButton_linkTexting" style="background-color: #f59b25;color : #F7F7F7">SMS:a länk till app</button>
                <div class="linkTextingError" id="linkTextingError" style="display:none;"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endif %}
  <div class="main-footer--middle background background--darkblue">
    <div class="container container--no-grid padding-v-md">
      <div class="company-info">
        <a class="site-logo" href="{{ base_url }}">yepstr</a>
        <p class="footer-copy">
          Yepstr är en app-baserad marknadsplats där hushåll kan få hjälp av ungdomar i sitt kvarter!
          <br><br>Organisationsnummer 556997-9817
        </p>
      </div>
      <nav class="main-navigation" role="navigation">
        <ul class="reset-list">
          <li>
            <strong>Ungdomar</strong>
            <ul class="reset-list">
              <li>
                <a href="{{ base_url }}/ungdomar/jag-vill-jobba">Bli en Yep!</a>
              </li>
              <li>
                <a href="{{ base_url }}/ungdomar/starter-pack">Starter pack</a>
              </li>
              <li>
                <a href="{{ base_url }}/ungdomar/yepstr-cv">Yepstr CV</a>
              </li>
              <li>
                <a href="{{ base_url }}/ungdomar/for-foraldrar">För föräldrar</a>
              </li>
            </ul>
          </li>
          <li>
            <strong>Beställare</strong>
            <ul class="reset-list">
              <li>
                <a href="{{ base_url }}/bestallare/sa-funkar-det">Så funkar det</a>
              </li>
              <li>
                <a href="{{ base_url }}/bestallare/barnpassning">Barnpassning</a>
              </li>
              <li>
                <a href="{{ base_url }}/bestallare/hundvakt">Hundvakt</a>
              </li>
              <li>
                <a href="{{ base_url }}/bestallare/eventhjalp">Eventhjälp</a>
              </li>
              <li>
                <a href="{{ base_url }}/bestallare/tradgard">Trädgård</a>
              </li>
              <li>
                <a href="{{ base_url }}/bestallare/laxhjalp">Läxhjälp</a>
              </li>
              <li>
                <a href="{{ base_url }}/bestallare/foretag">För företag</a>
              </li>
            </ul>
          </li>
          <li>
            <strong>Mer om Yepstr</strong>
            <ul class="reset-list">
              <li>
                <a href="{{ base_url }}/foretaget/om-oss">Om oss</a>
              </li>
              <li>
                <a href="http://support.yepstr.com/">Vanliga frågor</a>
              </li>
              <li>
                <a href="{{ base_url }}/foretaget/guider">Guider</a>
              </li>
              <li>
                <a href="{{ base_url }}/foretaget/vanliga-fragor/sakerhet">Säkerhet</a>
              </li>
              <li>
                <a href="{{ base_url }}/foretaget/vanliga-fragor/skatter-och-ansvar">Skatter & ansvar</a>
              </li>
              <li>
                <a href="http://www.mynewsdesk.com/se/yepstr" target="_blank">Press</a>
              </li>
              <li>
                <a href="{{ base_url }}/blog" target="_blank">Blogg</a>
              </li>
              <li>
                <a href="{{ base_url }}/foretaget/in-english">In English</a>
              </li>
              <li>
                <a href="https://app.yepstr.com/termsOfUse">Allmänna Villkor</a>
              </li>
              <li>
                <a href="{{ base_url }}/integritetspolicy">Integritetspolicy</a>
              </li>
              <li>
                <a href="{{ base_url }}/cookiepolicy">Cookies</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="main-footer--bottom background background--darkblue">
    <div class="container container--no-grid padding-v-sm">
      <nav class="social-links">
        <a href="https://www.facebook.com/yepstr" class="facebook ga-outbound-link">Facebook</a>
        <a href="https://twitter.com/yepstr" class="twitter ga-outbound-link">Twitter</a>
        <a href="https://www.instagram.com/yepstr/" class="instagram ga-outbound-link">Instagram</a>
        <a href="mailto:hej@yepstr.com" class="mail ga-contact-footer-link" data-type="Email">Mail</a>
        <a href="tel:0851519000" class="phone ga-contact-footer-link" data-type="Phone">08 - 5151 9000</a>
      </nav>
      <nav class="app-links">
        <a href="https://go.onelink.me/Deuc?pid=Hemsida&af_dp=None&af_web_dp=https%3A%2F%2Fwww.yepstr.com%2Fladda-ner-appen" class="download-app-btn download-app-btn--google-play ga-outbound-link">Get it on Google Play</a>
        <a href="https://go.onelink.me/Deuc?pid=Hemsida&af_dp=None&af_web_dp=https%3A%2F%2Fwww.yepstr.com%2Fladda-ner-appen" class="download-app-btn download-app-btn--app-store ga-outbound-link">Availible on the App Store</a>
      </nav>
    </div>
  </div>
  <!-- Apple Smart Banner -->
  <img src="https://app.appsflyer.com/id1069311381?pid=Hemsida" height="1" width="1" border ="0" />
</footer>
<!-- Yepstr footer JS -->
<script src=" {{ url('theme://build/js/build.js') }} "></script>
<!-- Intercoms START-->
<script>
  window.intercomSettings = {
    app_id: "q4512h2t"
  };
</script>
<script>
  ( function ( ) {
    var intercomDelay = 5000;

    var w = window;
    var ic = w.Intercom;
    if ( typeof ic === "function" ) {
      ic( 'reattach_activator' );
      ic( 'update', intercomSettings );
    } else {
      var d = document;
      var i = function ( ) {
        i.c( arguments )
      };
      i.q = [ ];
      i.c = function ( args ) {
        i
          .q
          .push( args )
      };
      w.Intercom = i;
      function l( ) {
        // Wait intercomDelay before loading intercom to make the page more responsive
        setTimeout(function() {
          var s = d.createElement( 'script' );
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://widget.intercom.io/widget/q4512h2t';
          var x = d.getElementsByTagName( 'script' )[ 0 ];
          x
            .parentNode
            .insertBefore( s, x );
        }, intercomDelay);
      }
      if ( w.attachEvent ) {
        w.attachEvent( 'onload', l );
      } else {
        w.addEventListener( 'load', l, false );
      }
    }
  })( )
</script>
<!-- Intercoms END-->

<!-- link texting START-->
<script type="text/javascript">
  /* Default Country Off, if set to false will use linkTextingDefaultCountry to decide default country, otherwise will determine the visiting user's country via their location */
  var linkTextingDefaultCountryOff = true;
  /* All Country data is lowercase ISO2 standard http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 */
  /* Default Country, if set to "auto" will determine the visiting user's country via their location */
  var linkTextingDefaultCountry = "us";
  /* If using automatic country detection with https or over 1,000 visits/day go to http://ipinfo.io, get a token, and place it here */
  var linkTextingIpinfoToken = "";
  /* Preferred Countries in Dropdown */
  var linkTextingPreferredCountries = [];
  /* Countries available in dropdown */
  var linkTextingOnlyCountries = ["se"];
</script>
<script type="text/javascript" src="//s3.amazonaws.com/linktexting-cdn/1.7/js/link_texting_gz.min.js"></script>
<!-- link texting END-->
