{% set theme_config = attribute( config.themes, config.system.pages.theme ) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  <head>
    {% block head %}
      <meta charset="utf-8"/>
      <title>
        {% if header.title %}{{ header.title|e('html') }}
          |
        {% endif %}{{ site.title|e('html') }}
      </title>

      <!-- Create page meta stuff -->
      {% include 'shared/metadata.html.twig' %}
      <!-- theme meta things (hooray!) -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="google-site-verification" content="i4OjwUPWD7mUyPaeMLEWo7xFVUTdqLRav5Hj8diBAsU"/>
      <meta name="msapplication-TileColor" content="">
      <meta name="msapplication-TileImage" content="">

      <!-- Safari, Chrome, Firefox, Opera -->
      <link rel="icon" type="image/png" href="{{ url('theme://build/images/icons/favicon.png') }}"/>
      <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
      <!-- or, set /favicon.ico for IE10 win -->
      <link rel="canonical" href="{{ page.url(true, true) }}"/>
      <link rel="apple-touch-icon-precomposed" href="">

      <!-- Our Styles -->
      <!-- Grav CSS hock  -->
      {% block stylesheets %}
        {% do
          assets.addCss( 'theme://build/css/styles.css' ) %}
      {% endblock %}
      {{ assets.css() }}
      <!-- Icons & Favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
      <!-- Apple touch icon (for more: http://mathiasbynens.be/notes/touch-icons) -->

      <!-- Grav js hock  -->
      {{ assets.js() }}
      <!-- Google Tag Manager -->
      <script>
        ( function ( w, d, s, l, i ) {
          w[l] = w[l] || [ ];
          w[l].push({
            'gtm.start': new Date( ).getTime( ),
            event: 'gtm.js'
          });
          var f = d.getElementsByTagName( s )[0],
            j = d.createElement( s ),
            dl = l != 'dataLayer'
              ? '&l=' + l
              : '';
          j.async = true;
          j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f
            .parentNode
            .insertBefore( j, f );
        })( window, document, 'script', 'dataLayer', 'GTM-TV3573' );
      </script>
      <!-- End Google Tag Manager -->
      <!-- Facebook Pixel Code -->
      <script>
        !function ( f, b, e, v, n, t, s ) {
          if ( f.fbq )
            return;
          n = f.fbq = function ( ) {
            n.callMethod
              ? n
                .callMethod
                .apply( n, arguments )
              : n
                .queue
                .push( arguments )
          };
          if ( !f._fbq )
            f._fbq = n;
          n.push = n;
          n.loaded = !0;
          n.version = '2.0';
          n.queue = [ ];
          t = b.createElement( e );
          t.async = !0;
          t.src = v;
          s = b.getElementsByTagName( e )[ 0 ];
          s
            .parentNode
            .insertBefore( t, s )
        }( window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js' );
        fbq( 'init', '181024245632288' );
        fbq( 'track', 'PageView' );
      </script>
      <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=181024245632288&ev=PageView&noscript=1"/></noscript>
      <!-- DO NOT MODIFY -->
      <!-- End Facebook Pixel Code -->
    {% endblock head%}
  </head>
